In [1]:
%%HTML
<a href="https://subefotos.com/ver/?141f77a15fc910b5d5b34c4b1a6cfb19o.png" target="_blank"><img src="https://fotos.subefotos.com/bfa0edacd915cdc7de8ee4a357071610o.png" style = "width: 150px; height: auto; margin-left:auto;margin-right:auto"/><img src="https://fotos.subefotos.com/2a13aea56c4bf96860ed297b29abc189o.png" style = "width: 750px; height: auto; margin-left: auto; margin-right: 150px;margin-top:0 "/></a>

# EXTRACT - Lectura de archivos
___
Primer caso: Cuando los archivos están en formato **excel**, utilizaremos el objeto **read_excel()** de **pandas**.

In [5]:
import pandas as pd

In [22]:
# Si estás usando jupyter notebooks en google colab ejecuta esta celda 
url = 'https://drive.google.com/u/0/uc?id=1kD_8IFNx00j4vENmj1hYqz0Sm34V5Ml0&export=download'

In [7]:
# Si no, ejecuta esta celda
url = 'horario.xlsx'

In [23]:
df = pd.read_excel(url) #Se utiliza df por convención para denotar Data Frames
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,NaN,8:00-9:30,NaN,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

Creamos un objeto de pandas que representa un Data Frame, más adelante veremos cómo trabajar con estos. Por ahora trabajaremos convirtiendo el Data Frame a diccionario y listas.
 
Lo convertiremos primero a listas:
- El atributo **values** nos regresa todos los valores convertidos a arreglos.
- El método **tolist( )** convierte los arreglos a listas.
- Cada fila del **Data Frame** se convierte en una lista.

In [24]:
lista = df.values.tolist()
print(lista[0]) #Solo visualizamos la primera fila

['3MM1', 'ALGEBRA III', 'CRUZ RAMIREZ JOEL', nan, '8:00-9:30', nan, '8:00-9:30', '8:00-9:30', 'Z', 'Z-203']

___
## Actividad 1:
Crear una función que pida de parámetro una lista como la anterior, y regrese una lista con 5 elementos en donde la posición 0 sea Lunes y la 5 sea Viernes, con valores de 0 (si no hay clase ese día) o 1 (si hay clase ese día).
#### Ej.
Entrada: 

\>> ['3MM1', 'ALGEBRA III', 'CRUZ RAMIREZ JOEL', nan, '8:00-9:30', nan, '8:00-9:30', '8:00-9:30', 'Z', 'Z-203']

Salida:

\>> [0, 1, 0, 1, 1]

In [25]:
def actividad_1(lista):
    '''
    Aquí empieza a escribir la función. Importante no cambiar el nombre a la función.
    '''
    valores = []
    for element in lista[3:8]:
            if type(element) == str:
                valores.append(1)
            else:
                valores.append(0)
    return valores

In [26]:
actividad_1(lista[0])

[0, 1, 0, 1, 1]

In [27]:
'''
Prueba tu resultado ejecutando esta celda.
'''
respuestas = [[0, 1, 0, 1, 1],[0, 1, 0, 1, 0], [1, 0, 1, 0, 1],[1, 0, 1, 0, 1],[1, 0, 1, 1, 0]]

for materia, respuesta in zip(lista, respuestas):
    try:
        assert actividad_1(materia) == respuesta
        print('Buena: '+ materia[1])
    except AssertionError:
        print('Error en ' + materia[1] )

Buena: ALGEBRA III
Buena: ECONOMIA
Buena: ECS. DIFERENCIALES ORD. I
Buena: METODOS NUMERICOS I
Buena: CALCULO III

___
Con la actividad pasada, podemos calcular cuantas clases al día hay, vemos que si sumamos las listas sólo las concatena:

In [28]:
respuestas[0] + respuestas[1] + respuestas[2] + respuestas[3] + respuestas[4]

[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0]

In [29]:
import numpy as np
respuestas = np.array(respuestas) # Convertimos a array para que nos deje sumar elemento con elemento

In [30]:
respuestas[0] + respuestas[1] + respuestas[2] + respuestas[3] + respuestas[4]

array([3, 2, 3, 3, 3])

In [31]:
dias = ['Lun','Mar','Mie','Jue','Vi']
clases = respuestas[0] + respuestas[1] + respuestas[2] + respuestas[3] + respuestas[4]
numero_de_clases = [dias[i] +': ' + str(clases[i]) for i in range(5)]

In [32]:
print(clases)
print(numero_de_clases)

[3 2 3 3 3]
['Lun: 3', 'Mar: 2', 'Mie: 3', 'Jue: 3', 'Vi: 3']

___
Ahora lo convertiremos a diccionarios:

In [34]:
df.to_dict()

{'Grupo': {0: '3MM1', 1: '3MM1', 2: '3MM2', 3: '3MM2', 4: '3MM2'},
 'Descripción': {0: 'ALGEBRA III',
  1: 'ECONOMIA',
  2: 'ECS. DIFERENCIALES ORD. I',
  3: 'METODOS NUMERICOS I',
  4: 'CALCULO III'},
 'Profesor': {0: 'CRUZ RAMIREZ JOEL',
  1: 'ROBLES CONTRERAS GABRIEL',
  2: 'JUAREZ VELAZQUEZ JUAN MANUEL',
  3: 'MORENO MUÑOZ CARLOS ALEJANDRO',
  4: 'VILLANUEVA LOPEZ JORGE RUBEN'},
 'Lunes': {0: nan, 1: nan, 2: '8:00-9:30', 3: '12:30-14:00', 4: '9:30-11:00'},
 'Martes': {0: '8:00-9:30', 1: '11:00-12:30', 2: nan, 3: nan, 4: nan},
 'Miercoles': {0: nan,
  1: nan,
  2: '8:00-9:30',
  3: '12:30-14:00',
  4: '9:30-11:00'},
 'Jueves': {0: '8:00-9:30', 1: '11:00-12:30', 2: nan, 3: nan, 4: '9:30-11:00'},
 'Viernes': {0: '8:00-9:30',
  1: nan,
  2: '9:30-11:00',
  3: '12:30-14:00',
  4: nan},
 'Edificio': {0: 'Z', 1: 'Z', 2: 'Z', 3: 'Z', 4: 'Z'},
 'Salón': {0: 'Z-203', 1: 'Z-203', 2: 'Z-203', 3: 'Z-203', 4: 'Z-203'}}

Vemos que convertimos directamente el Data Frame a diccionario, no necesitamos el atributo *values*.

Las columnas se convirtieron en las llaves de un diccionario y los elementos de las listas son diccionarios también, con los índices cómo llaves

Vamos a cambiar algunos valores para traslapar materias.

In [37]:
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,NaN,8:00-9:30,NaN,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

In [97]:
df['Lunes'] = ['9:00-10:30', np.nan, '8:00-9:30','12:30-14:00','9:30-11:00']
df['Miercoles'] = ['12:00-13:30', np.nan, '8:00-9:30','12:30-14:00','9:30-11:00']

In [98]:
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,9:00-10:30,8:00-9:30,12:00-13:30,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

Vemos que ahora ya tenemos un traslape los lunes y otro los miercoles.

In [99]:
datos_dict = df.to_dict()
datos_dict['Lunes']

{0: '9:00-10:30', 1: nan, 2: '8:00-9:30', 3: '12:30-14:00', 4: '9:30-11:00'}

## Actividad 2:
Crear una función que nos detecte si hay traslapes de materias por día.
Entrada:

\>> {0: '9:00-10:30', 1: nan, 2: '8:00-9:30', 3: '12:30-14:00', 4: '9:30-11:00'} 

Salida:

\>> 'Hay un traslape a las 9:00'

In [2]:
def actividad2(datos_dict_lunes):
    '''
    Aquí empieza a escribir la actividad. Importante no cambiar el nombre a la función.
    '''
    return 0

In [ ]:
traslapes = []

for posicion1 in range(5):
    for posicion2 in range(posicion1+1,5):
        valor1 = list(datos_dict['Lunes'].values())[posicion1]
        valor2 = list(datos_dict['Lunes'].values())[posicion2]
        if type(valor1) == str and type(valor2) == str :
            #print('Comparando: ')
            inicio1, final1 = valor1.split('-')[0].split(':'), valor1.split('-')[1].split(':')
            hora_inicio1 = int(inicio1[0])+ int(inicio1[1])/60
            hora_final1 = int(final1[0])+ int(final1[1])/60
            
            inicio2, final2 = valor2.split('-')[0].split(':'), valor2.split('-')[1].split(':')
            hora_inicio2 = int(inicio2[0])+ int(inicio2[1])/60
            hora_final2 = int(final2[0])+ int(final2[1])/60
            
            if (hora_inicio1 >= hora_inicio2 and hora_inicio1 < hora_final2) or (hora_inicio2 >= hora_inicio1 and hora_inicio2 < hora_final1):
                print('Hay un traslape en', valor1)

## Una herramienta para nuestra navaja suiza como ingenieros de datos

Vamos a crear un Bot de instagram con la librería *instabot*. Por ahora sólo obtendremos los seguidores de una cuenta, pero la librería te premite hacer más cosas como publicar fotos, dar likes y hasta seguir personas. Puedes ver la documentación [aquí](https://instagrambot.github.io/docs/en/For_developers.html).

In [ ]:
!pip install instabot #Par instalar la librería con pip

In [ ]:
from instabot import Bot

In [3]:
import credenciales

In [ ]:
bot = Bot()
bot.login(username="", password="") #Ingresamos nuestro usuario y contraseña

Cada usuario de instagram aparte de tener un username también tiene un id, necesitamos conseguir eso con el método **get_user_id_from_username()** en donde ingresarémos como parámetro el username de algún usuariopara ver su información.

In [ ]:
user_id = bot.get_user_id_from_username("") 

user_info = bot.get_user_info(user_id) #nos regresará un diccionario
print(user_info['biography'])

Para obtener los seguidores del usuario utilizaremos el método **get_user_followers()** ingresando como parametro el id. Nos regresará una lista con ids.

In [ ]:
users_ids = bot.get_user_followers(user_id)

Para obtener los usernames apartir de los ids utilizaremos **get_username_from_user_id()**.

In [ ]:
for user_id in users_ids:
    print(bot.get_username_from_user_id(user_id))