In [3]:
import pandas as pd

In [4]:
url = 'https://drive.google.com/u/0/uc?id=1kD_8IFNx00j4vENmj1hYqz0Sm34V5Ml0&export=download'

In [5]:
df = pd.read_excel(url) #Se utiliza df por convención para denotar Data Frames
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,NaN,8:00-9:30,NaN,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

In [6]:
df.to_dict()

{'Grupo': {0: '3MM1', 1: '3MM1', 2: '3MM2', 3: '3MM2', 4: '3MM2'},
 'Descripción': {0: 'ALGEBRA III',
  1: 'ECONOMIA',
  2: 'ECS. DIFERENCIALES ORD. I',
  3: 'METODOS NUMERICOS I',
  4: 'CALCULO III'},
 'Profesor': {0: 'CRUZ RAMIREZ JOEL',
  1: 'ROBLES CONTRERAS GABRIEL',
  2: 'JUAREZ VELAZQUEZ JUAN MANUEL',
  3: 'MORENO MUÑOZ CARLOS ALEJANDRO',
  4: 'VILLANUEVA LOPEZ JORGE RUBEN'},
 'Lunes': {0: nan, 1: nan, 2: '8:00-9:30', 3: '12:30-14:00', 4: '9:30-11:00'},
 'Martes': {0: '8:00-9:30', 1: '11:00-12:30', 2: nan, 3: nan, 4: nan},
 'Miercoles': {0: nan,
  1: nan,
  2: '8:00-9:30',
  3: '12:30-14:00',
  4: '9:30-11:00'},
 'Jueves': {0: '8:00-9:30', 1: '11:00-12:30', 2: nan, 3: nan, 4: '9:30-11:00'},
 'Viernes': {0: '8:00-9:30',
  1: nan,
  2: '9:30-11:00',
  3: '12:30-14:00',
  4: nan},
 'Edificio': {0: 'Z', 1: 'Z', 2: 'Z', 3: 'Z', 4: 'Z'},
 'Salón': {0: 'Z-203', 1: 'Z-203', 2: 'Z-203', 3: 'Z-203', 4: 'Z-203'}}

In [8]:
import numpy as np

In [9]:
df['Lunes'] = ['9:00-10:30', np.nan, '8:00-9:30','12:30-14:00','9:30-11:00']
df['Miercoles'] = ['12:00-13:30', np.nan, '8:00-9:30','12:30-14:00','9:30-11:00']

In [10]:
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,9:00-10:30,8:00-9:30,12:00-13:30,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

In [11]:
datos_dict = df.to_dict()

In [12]:
datos_dict['Lunes']

{0: '9:00-10:30', 1: nan, 2: '8:00-9:30', 3: '12:30-14:00', 4: '9:30-11:00'}

In [23]:
int(datos_dict['Lunes'][2].split('-')[1].split(':')[0]) + int(datos_dict['Lunes'][2].split('-')[1].split(':')[1])/60

9.5

In [46]:
traslapes = []
for posicion1 in range(5):
    for posicion2 in range(posicion1+1,5):
       # print('\n Comparando: ')
        valor1 = list(datos_dict['Miercoles'].values())[posicion1]
        valor2 = list(datos_dict['Miercoles'].values())[posicion2]
        
        if type(valor1) == str and type(valor2) == str:
            inicio1 = valor1.split('-')[0].split(':')
            final1 = valor1.split('-')[1].split(':')
            
            hora_inicio1 = int(inicio1[0]) + int(inicio1[1])/60
            hora_final1 = int(final1[0]) + int(final1[1])/60
            
            inicio2 = valor2.split('-')[0].split(':')
            final2 = valor2.split('-')[1].split(':')
            
            hora_inicio2 = int(inicio2[0]) + int(inicio2[1])/60
            hora_final2 = int(final2[0]) + int(final2[1])/60
            
            
            #print(hora_inicio1, hora_final1)
            #print(hora_inicio2,hora_final2)
            
            if (hora_inicio1 >= hora_inicio2 and hora_inicio1 < hora_final2) or (hora_inicio2 >= hora_inicio1 and hora_inicio2 < hora_final1):
                print('Hay un traslape en ',valor1)

Hay un traslape en  12:00-13:30

In [ ]:
!pip install instabot

In [47]:
from instabot import Bot