In [87]:
import pandas as pd

In [88]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\wordl\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\wordl\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\wordl\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\wordl\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\wordl\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [89]:
url = 'horario.xlsx'

In [90]:
url = 'https://drive.google.com/u/0/uc?id=1kD_8IFNx00j4vENmj1hYqz0Sm34V5Ml0&export=download'

In [91]:
df = pd.read_excel(url)

In [92]:
df

,Grupo,Descripción,Profesor,Lunes,Martes,Miercoles,Jueves,Viernes,Edificio,Salón
0,3MM1,ALGEBRA III,CRUZ RAMIREZ JOEL,NaN,8:00-9:30,NaN,8:00-9:30,8:00-9:30,Z,Z-203
1,3MM1,ECONOMIA,ROBLES CONTRERAS GABRIEL,NaN,11:00-12:30,NaN,11:00-12:30,NaN,Z,Z-203
2,3MM2,ECS. DIFERENCIALES ORD. I,JUAREZ VELAZQUEZ JUAN MANUEL,8:00-9:30,NaN,8:00-9:30,NaN,9:30-11:00,Z,Z-203
3,3MM2,METODOS NUMERICOS I,MORENO MUÑOZ CARLOS ALEJANDRO,12:30-14:00,NaN,12:30-14:00,NaN,12:30-14:00,Z,Z-203
4,3MM2,CALCULO III,VILLANUEVA LOPEZ JORGE RUBEN,9:30-11:00,NaN,9:30-11:00,9:30-11:00,NaN,Z,Z-203

In [93]:
lista1 = df.values.tolist()

In [107]:
lista1[0][3] == pd.na

AttributeError: module 'pandas' has no attribute 'na'

In [94]:
def actividad_1(lista):
    '''
    Aquí empieza a escribir la función. Importante no cambiar el nombre a la función.
    '''
    valores = []
    for element in lista[3:8]:
            if type(element) == str:
                valores.append(1)
            else:
                valores.append(0)
    return valores

In [95]:
respuestas = []
for element in lista1:
    respuestas.append(actividad_1(element))

In [96]:
respuestas

[[0, 1, 0, 1, 1],
 [0, 1, 0, 1, 0],
 [1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1],
 [1, 0, 1, 1, 0]]

In [97]:
respuestas[0] + respuestas[1] + respuestas[2] + respuestas[3] + respuestas[4]

[0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0]

In [98]:
import numpy as np

In [99]:
respuestas = np.array(respuestas)

In [78]:
 clases = respuestas[0] + respuestas[1] + respuestas[2] + respuestas[3] + respuestas[4]

In [80]:
clases

array([3, 2, 3, 3, 3])

In [79]:
dias = ['Lun','Mar','Mie','Jue','Vie']

In [84]:
numero_de_clases = [dias[i] + ': '+ str(clases[i]) for i in range(5)]

In [85]:
clases

array([3, 2, 3, 3, 3])

In [86]:
numero_de_clases

['Lun: 3', 'Mar: 2', 'Mie: 3', 'Jue: 3', 'Vie: 3']